@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}
body{
    width: 100%;
    background: #FFFFFF;
    position: relative;
    display: flex;
    background: #FCFBFF;
}
#menu{
    background: #000000;
    width: 224px;
    height:1189px;
}
#menu .logo{
    text-align: center;
   
}
.logo h3{
    color: #FFFFFF;
    text-align: center;
}
.logo p {
    color: #FFFFFF;
    text-align: center;
    font-size: 0.6rem;
}
.logo-img{
    margin-top: 10px;
}
.items{
 text-align: start;
 margin-top: 50px;
}
.items li {
    text-align:start;
    list-style:none;
    padding-left: 30px;
    margin-bottom: 45px;
}
.items li:hover {
    background: #253047;
    cursor: pointer;
}
.items a{
    color: #7D7D7E;
    text-decoration: none;
    margin-left: 10px;
}
.dollar{
    color:#FF7901;
}
#navigation{
    background: #000000;
    width: calc(100% - 224px);
    height: 90px;
}
.balance-info{
    color: #FFFFFF;
    display:flex;
    align-items: center;
    justify-content: end;
    height: 100%;
}
.balance-header {
    margin-right: 25px;
}
.arrow-img{
    margin-left: 15px;
    margin-right: 25px;
}
#alexa-main{
    width: 200px;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 45px ;
    margin-right: 35px;
}
.alexa-info{
    display: flex;
    align-items: center;
    shape-margin: 10px;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
}
.alexa-info h4{
    color: #000000;
    margin-left: 10px;
}
