@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}
body{
    width: 100%;
    background: #FFFFFF;
    position: relative;
}
#menu{
    background: #000000;
    width: 224px;
    height:1189px;
}
#menu .logo{
    text-align: center;
   
}
.logo h3{
    color: #FFFFFF;
    text-align: center;
}
.logo p {
    color: #FFFFFF;
    text-align: center;
    font-size: 0.6rem;
}
.logo-img{
    margin-top: 15px;
}
.items{
 text-align: start;
 margin-top: 50px;
}
.items li {
    list-style:none;
    margin-bottom: 45px;
}
.items li:hover {
    background: #253047;
    cursor: pointer;
}
.items a{
    color: #7D7D7E;
    text-decoration: none;
    margin-left: 10px;
}

